{% if form.errors %}
    <div class="alert alert-danger" role="alert">
        <h6 class="alert-heading">Please correct the following errors:</h6>
        <ul class="mb-0">
            {% for field, errors in form.errors.items %}
                {% for error in errors %}
                    <li>
                        {% if field != '__all__' %}
                            <strong>{{ field|title }}:</strong> 
                        {% endif %}
                        {{ error }}
                    </li>
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
{% endif %}
